
$theme-dark-primaryColor: #fcfcfc;
$theme-dark-secondaryColor: #fad003;
$theme-dark-backgroundColor: #212121;

$theme-light-primaryColor: #fcfcfc;
$theme-light-secondaryColor: #212121;
$theme-light-backgroundColor: #fcfcfc;

