:root {
    --background-color-primary: #ebebeb;
    --background-color-secondary: #fafafa;
    --accent-color: #b3b3b3;
    --text-primary-color: rgb(58, 58, 58);
    --button-color: rgb(58, 58, 58);
    --element-size: 4rem;
  }

:root.dark-mode {
    --background-color-primary: #1e1e1e;
    --background-color-secondary: #2d2d30;
    --accent-color: #3f3f3f;
    --text-primary-color: #ddd;
    --button-color: #ddd;
}